@import '../helpers/_responsive.scss';
@import '../helpers/variables';

.contactPage {
    display: flex;

    @include sm {
        overflow: scroll;
        height: 90%;
        padding-right: 10px;
    }

    .textContainer {
        flex: 3;
        overflow-y: scroll;

        .wrapper {
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;

            @include md {
                padding: 0;
            }

            @include sm {
                justify-content: flex-start;
            }

            .title {
                font-size: 64px;

                @include lg {
                    font-size: 48px;
                }
            }

            form {
                border: 1px solid $light-color;
                display: flex;
                flex-direction: column;
                border: none;
                // height: 64px;
                gap: 5px;

                input {
                    border: 1px solid $light-color;
                    padding: 20px;
                    width: auto;

                    @include sm {
                        width: auto;

                        &:nth-child(2),
                        &:nth-child(3) {
                            width: auto;
                        }

                        padding: 20px;
                        border: 1px solid $light-color;
                    }
                }

                textarea {
                    width: auto;
                    border: 1px solid $light-color;
                    padding: 20px;
                    resize: none;
                }

                .button-form {
                    border: .1rem solid $main-color;
                    cursor: pointer;
                    align-content: center;
                    background-color: $main-color;
                    flex: 1;
                    color: $white;
                    padding: 20px;

                    .box-button {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }

                    &:hover {
                        background: $white;
                        color: $main-color;
                    }
                }
            }
        }
    }

    .imgContainer {
        flex: 2;
        background-color: $light-bg;
        position: relative;
        display: flex;
        align-items: center;

        @include md {
            display: none;
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;

            @include mx {
                margin-top: 80px;
            }

            @include lg {
                width: 105%;
            }
        }
    }
}