@import '../helpers/variables';
@import '../helpers/responsive';

.listPage {
    display: flex;
    height: 100%;

    @include sl {
        display: block;
        width: auto;        
    }

    .listContainer {
        flex: 3;
        height: 100%;

        .wrapper {
            height: 100%;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;

            @include sm {
               width: 100%;   
               padding-right: 10px;
            }
        }
    }

    .mapContainer {
        flex: 2;
        height: 100%;
        background-color: $light-bg;

        @include sm {
            display: none;     
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}