
$main-color: #fece51;
$black:#222;
$white:#fff;
$red-color: red;
$light: #e0e0e0;
$light-color:#999;
$grey-light: #888;
$grey-dark-1: #666;
$grey-dark: #555;
$light-dark: #444;
$dark: #222;
$light-bg:#fcf5f3;
$light-blue: rgb(66, 133, 244);
$border:.1rem solid $main-color;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$brown: #f7c14b85;
$bg-color-1: rgba(254, 201, 81, 0.438);
$bg-color-2: rgba(254, 205, 81, 0.209);
$bg-color-3: whitesmoke;